*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.header-aria{
    display: flex;
    margin-top: 40px;
    margin-left: 100px;
    align-items: center;
}
.left-arrow{
    background: #F8F8F8;
    width: 62px;
    padding: 12px 19px;
    border-radius: 99px;
}
h3{
    font-size: 16px;
    margin-left: 19px;
}
.progress{
    background: rgb(85 82 217 / 18%);
    font-size: 12px;
    margin: 9px;
    padding: 3px 6px;
    border-radius: 3px;
    color: #6F6FFF;
}
.border{
    border-bottom:1px solid #ECEEEB;
    margin-top: 24px;
}
.list-item{
    display: inline-block;
    margin-top: 40px;
    vertical-align: top;
}
.contain{
    padding-left: 113px;
}
form{
    width: 410px;
}
.form-aria{
    display:inline-block;
    margin-top: 48px;
    margin-left: 73px;
}
input,select{
    width: 410px;
    padding: 5px 16px;
    border: 1px solid #E1E3E6;
    border-radius: 8px;
    color: #757D8A;
}
input{
    margin-top: 16px;
}
select{
    margin-top: 16px;
    
}
.select-contein{
    margin-bottom: 32px;
}
label{
    padding-top: 32px;
    padding-bottom: 16px;
    color: #404D61;
    font-weight: 500;
}
.Continue-button{
    background: #4A3AFF;
    color: #ffffff;
}
.C-button{
    position: relative;
    margin-bottom: 25px;
}
.button-icon{
    position: absolute;
    top: 21px;
    right: 160px;
}
a{
    text-decoration: none;
    padding-left: 20px;
    color: #000000;
    display: inline-block;
}
ul li a{
    color: #737373;
}

ol{
    counter-reset: my-sec-counter;
    list-style: none;
    position: relative;
}

li::before {
    counter-increment: my-sec-counter 1;
    content: "" counter(my-sec-counter) "";
    display:inline-flex;
    width: 26px;
    height: 26px;
    background: #FFFFFF;
    border-radius: 50%;
    align-items:center;
    justify-content: center;
    cursor: pointer;
}
ul{
    counter-reset: counter-sec;
    list-style: none;
    padding-top: 10px;
    padding-left: 9px;
}

ul li::before{
    display:flex;
    content: "";
    width: 10px;
    height: 10px;
    background: #B9B9B9;
    border-radius: 50%;
    z-index: 5;
    position: absolute;
    left: 0;
    cursor: pointer;
}
.li-color::before{
    background: #4A3AFF;
    color: #ffffff;
   
}
li{
    position: relative;
    padding-left: 3px;
    padding-bottom: 20px;
}
ol::before {
    content: "";
    position: absolute;
    width: 32px;
    left: 0;
    top: -4px;
    height: 100%;
    background: rgba(217, 217, 217, 0.403);
    border-radius: 50px;
}
.li-last{
    padding-bottom: 8px;
}
.style-dot{
    padding-left: 34px;
}
/* business represent */
.check-icon{
    position: absolute;
    z-index: 2;
    padding-left: 2px;
}
.business-check{
    width: 27px;
    height: 27px;
}
.green::before{
    background: #4ADE80;
    color: #ffffff;
}
.green{
    color: #B9B9B9;
}
.blue::before{
    background: #4A3AFF;
}
.blue{
    color: #4A3AFF;
}
.First-name{
    width: 201px;
}
.your-email,.div-contein{
    padding-bottom: 32px;
}
.address,.phone,.website,.iban,.f-name{
    padding-bottom: 16px;
}
.secure{
    box-shadow: 0 1px 25px #00000015;
}
/* Overview */
.missing{
    display: flex;
    width: 410px;
    border: 1px solid #EF4444;
    border-radius: 8px;
    background: rgba(239, 68, 68, 0.085);
    justify-content: space-between;
    padding: 17px 16px;
}
.missing p{
    color: #EF4444;

}
.add-button{
    background: #ffffff;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    padding: 5px;
}
.missing{
    margin-top: 16px;
}
.submit{
    background: rgba(74, 58, 255, 0.50);
}